/* styling bar */

#sidebar{
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 200;
}

.siber_links{
    position: fixed;
    top: 50px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
}

.siber_links ul li{
    margin-bottom: 20px;
}

.siber_links ul li a{
    color: #444444;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: bolder;
}

.siber_links ul li:first-child a{
    color: #8B008B;
}

.siber_links ul li a:hover{
    color: #8B008B;
}

.close_btn{
    float: right;
    margin-right: 30px;
    margin-top: 15px;
}

.close_btn h2 i{
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}


/* javascript class */

.show{
    display: none;
}