#attendance_container{
    width: 80%;
    margin-left: 10%;
    margin-top: 150px;
    margin-bottom: 50px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

#container_head{
    background-color: #5fcf80;
    color: #fff;
    padding: 10px 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 1px solid #ddd;
}

#container_head h4{
    text-transform: capitalize;
}

#table_head, #table_info{
    margin: 20px;
}

table, table tr td{
    border: 1px solid #ddd;
}

table{
    border-collapse: collapse;
}

table{
    width: 100%;
}

 table tr td{
    padding: 10px;
    text-transform: capitalize;
    color: #444;
}

#table_head table tr .name{
    font-weight: bolder;
    width: 40%;
}

.date{
    width: 40%;
}

#table_info table thead tr td{
    font-weight: bolder;
}

#table_head table tr:nth-child(even) td{
    background-color: #f2f2f2;
}

table tbody tr td .present{
    background-color: #5fcf80;
    padding: 3px 5px;
    border-radius: 10px;
    color: #fff;
}

table tbody tr td .absent{
    background-color: tomato;
    padding: 3px 5px;
    border-radius: 10px;
    color: #fff;

}

/* styling chart */

#chart{
    margin: 20px;
    height: 400px;
    background-color: red;
}
