*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

a, button{
    color: #fff;
    background-color: transparent;
    border: none;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

button:focus{
    outline: none;
}

#container{
    background-color: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

#links_container{
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
   
}

button, .home{
    padding: 15px 0;
}

 .home :hover{
    color: #5fcf80;
    text-decoration: none;
    opacity: 0.7s;
}

.dropdown-item:hover{
    color: #fff;
    background-color: #5fcf80;
}



body{
background-color: #eef0ef;
}

.btn-group{
    margin: 0 10px;
}



/* logout styling.....*/

.logout{
    border: 1px solid #5fcf80;
    padding: 5px;
    background-color: #5fcf80;
    border-radius: 10px;
}

.logout:hover{
    color: #5fcf80;
    background-color: #fff;
    text-decoration: none;
}
